.hero {
    position: relative;
}

.hero--cta {
    position: absolute;
    left: 50%;
    margin-top: 333px;
    display: flex;
    flex-direction: column;
}

.yellow--bar {
    height: 112px;
    width: 100%;
    display: flex;
    margin-top: -5px;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 22px;
    font-weight: 700;
    background-color: $yellow;
    text-transform: uppercase;
    font-family: $work-sans-regular;
}