<section id="header" class="header">
    
    <nav class="header--top">
        <!-- prvi deo: SEARCH -->
        <div class="header--top--item">
            <input type="text" placeholder="Search" />
        </div>

        <!-- drugi deo: LOGO -->
        <div class="header--top--item">
            <a href="#" class="logo">
                <!-- replace logo here -->
                {{ 'icon-logo.svg' | asset_url | img_tag }}
            </a>
        </div>

        <!-- treci deo: LINKOVI i ikone -->
        <div class="header--top--item">
            <ul>
                <li><a href="#">Register</a></li>
                <li><a href="#">My Account</a></li>
                <li><a href="#"><span>{{ 'icon-wishlist.svg' | asset_url | img_tag }}</span></a></li>
                <li><a href="#"><span>{{ 'icon-shopping-bag.svg' | asset_url | img_tag }}</span></a></li>
            </ul>
        </div>
    </nav>

    {% include 'menu' %}

</section>

{% schema %}
{
"name": "Main Menu",
"settings": [
{
"type": "link_list",
"id": "main_linklist",
"label": "Menu",
"default": "main-menu"
}
]
}
{% endschema %}